<div class="fit">
  <div class="busca">
    <h4>
      Consulte seu Estado ou Município
    </h4>
  </div>

  <form *ngIf="seletorTipoBusca == false" class="alinhamento card-busca">
    <mat-form-field class="layoutFill textCenter">
      <mat-placeholder>Consulte seu Estado ou Município
        <mat-icon>search</mat-icon>
      </mat-placeholder>

      <input #searchBox matInput type="search" id="search-box" [(ngModel)]="termoSimples" [ngModelOptions]="{standalone: true}"
        (keypress)="onRealizarBuscaComEnter($event)" />

    </mat-form-field>

    <button mat-raised-button (click)="onRealizarBuscaComEnter($event)">BUSCAR</button>

  </form>

  <form *ngIf="seletorTipoBusca == true" class="alinhamento card-busca" (keypress)="onRealizarBuscaComEnter($event)">
    <mat-form-field class="textCenter">
        <mat-select placeholder="Estados" [(ngModel)]="termoUF" [ngModelOptions]="{standalone: true}">
            <mat-option>Todos</mat-option>
            <mat-option value="AC">Acre</mat-option>
            <mat-option value="AL">Alagoas</mat-option>
            <mat-option value="AP">Amapá</mat-option>
            <mat-option value="AM">Amazonas</mat-option>
            <mat-option value="BA">Bahia</mat-option>
            <mat-option value="CE">Ceará</mat-option>
            <mat-option value="DF">Distrito Federal</mat-option>
            <mat-option value="ES">Espírito Santo</mat-option>
            <mat-option value="GO">Goiás</mat-option>
            <mat-option value="MA">Maranhão</mat-option>
            <mat-option value="MT">Mato Grosso</mat-option>
            <mat-option value="MS">Mato Grosso do Sul</mat-option>
            <mat-option value="MG">Minas Gerais</mat-option>
            <mat-option value="PA">Pará</mat-option>
            <mat-option value="PB">Paraíba</mat-option>
            <mat-option value="PR">Paraná</mat-option>
            <mat-option value="PE">Pernambuco</mat-option>
            <mat-option value="PI">Piauí</mat-option>
            <mat-option value="RJ">Rio de Janeiro</mat-option>
            <mat-option value="RN">Rio Grande do Norte</mat-option>
            <mat-option value="RS">Rio Grande do Sul</mat-option>
            <mat-option value="RO">Rondônia</mat-option>
            <mat-option value="RR">Roraima</mat-option>
            <mat-option value="SC">Santa Catarina</mat-option>
            <mat-option value="SP">São Paulo</mat-option>
            <mat-option value="SE">Sergipe</mat-option>
            <mat-option value="TO">Tocantins</mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field class="textCenter">
      <mat-placeholder> Ente Federado
        <mat-icon>search</mat-icon>
      </mat-placeholder>
      <input #searchBox matInput type="text" date="true" id="search-box" [(ngModel)]="termoSimples" [ngModelOptions]="{standalone: true}"
        autofocus/>
    </mat-form-field>


    <mat-form-field class="textCenter">
      <input #searchBox matInput [matDatepicker]="picker" [(ngModel)]="data_adesao_min" [ngModelOptions]="{standalone: true}" placeholder="Adesão a partir da data">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="textCenter">
      <input #searchBox matInput [matDatepicker]="picker2" [(ngModel)]="data_adesao_max" [ngModelOptions]="{standalone: true}"
        placeholder="Adesão até a data">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button (click)="onRealizarBuscaComEnter($event)">BUSCAR</button>

    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div fxLayout="column" fxLayoutAlign="space-between start">
        <mat-checkbox class="primary" [(ngModel)]="filtrarEstados" color="primary" [ngModelOptions]="{standalone: true}">
          <span class="checkbox">Estados</span>
        </mat-checkbox>
        <mat-checkbox class="primary" [(ngModel)]="filtrarMunicipios" color="primary" [ngModelOptions]="{standalone: true}">
          <span class="checkbox">Municípios</span>
        </mat-checkbox>

      </div>

      <div fxLayout="row" fxLayoutAlign="space-between start">
        <!-- COMPONENTES -->

        <div fxLayout="column" fxLayoutAlign="space-between start">
          <mat-checkbox class="primary" [(ngModel)]="componentes[0]" color="primary" [ngModelOptions]="{standalone: true}">
            <span class="checkbox">Lei Sistema</span>
          </mat-checkbox>
          <mat-checkbox class="primary" [(ngModel)]="componentes[1]" color="primary" [ngModelOptions]="{standalone: true}">
            <span class="checkbox">Plano Cultura</span>
          </mat-checkbox>
          <mat-checkbox class="primary" [(ngModel)]="componentes[2]" color="primary" [ngModelOptions]="{standalone: true}">
            <span class="checkbox">Órgão Gestor</span>
          </mat-checkbox>
        </div>

        <div fxLayout="column" fxLayoutAlign="space-between start">
          <mat-checkbox class="primary" [(ngModel)]="componentes[3]" color="primary" [ngModelOptions]="{standalone: true}">
            <span class="checkbox">Fundo Cultura</span>
          </mat-checkbox>
          <mat-checkbox class="primary" [(ngModel)]="componentes[4]" color="primary" [ngModelOptions]="{standalone: true}">
            <span class="checkbox">Conselho Cultura</span>
          </mat-checkbox>
        </div>

      </div>

    </div>
  </form>

  <button *ngIf="!seletorTipoBusca" id="trocaBusca" mat-button class="alinhamento" (click)="seletorTipoBusca = true">
    <span class="material-icons">keyboard_arrow_down</span>{{ seletorTipoBusca ? false : 'Abrir Filtros'}}
  </button>
  <button *ngIf="seletorTipoBusca" id="trocaBusca" mat-button class="alinhamento" (click)="seletorTipoBusca = false">
    <span class="material-icons">keyboard_arrow_up</span> Fechar Filtros
  </button>

</div>